# Build results
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]bj/

# NuGet
*.nupkg
**/packages/*
!**/packages/.gitkeep

# VS files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml

# OS
Thumbs.db
.DS_Store
