<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IBM.XMS" publicKeyToken="d2666ab12fca862b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.6" newVersion="2.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnet" publicKeyToken="dd3cb1c9aae9ec97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.6" newVersion="7.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdxcs" publicKeyToken="7a58d55a51981a15" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.6" newVersion="7.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnsp" publicKeyToken="4ec3909022c7abcc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.6" newVersion="7.1.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmxmsstd" publicKeyToken="d2666ab12fca862b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.4.0" newVersion="9.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnetstd" publicKeyToken="23d6cb914eeaac0e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.4.0" newVersion="9.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.11" newVersion="6.0.0.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>