<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <!-- Add TestAdapterPath so VS can find the ReportPortal logger -->
    <TestAdaptersPaths>.\</TestAdaptersPaths>
  </RunConfiguration>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="ReportPortal" enabled="true">
        <Configuration>
          <ConfigFile>ReportPortal.config.json</ConfigFile>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
