<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.8.0" targetFramework="net48" />
  <package id="Apache.NMS.ActiveMQ" version="1.8.0" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.6.1" targetFramework="net48" />
  <package id="AWSSDK.SecretsManager" version="3.7.1.71" targetFramework="net48" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="EWSoftware.SHFB" version="2016.5.28.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="IBM.XMS" version="1.1.2.0" targetFramework="net45" />
  <package id="IBMMQDotnetClient" version="9.2.4.0" targetFramework="net48" />
  <package id="IBMXMSDotnetClient" version="9.2.4.0" targetFramework="net48" />
  <package id="Interop.ActiveDs" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net45" />
  <package id="MSBuild.Extension.Pack" version="1.8.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenSmtp" version="1.11.0.34196" targetFramework="net48" />
  <package id="QedArsenal.QualityLibrary.Core" version="2207.0.6-build" targetFramework="net48" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Thomson.Novus.ProductAPI" version="24.8.2.1" targetFramework="net48" />
</packages>