<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.8.0" targetFramework="net48" />
  <package id="Apache.NMS.ActiveMQ" version="1.8.0" targetFramework="net48" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.7.6.1" targetFramework="net48" />
  <package id="AWSSDK.SecretsManager" version="3.7.1.71" targetFramework="net48" />
  <package id="IBM.XMS" version="1.1.2.0" targetFramework="net45" />
  <package id="IBMMQDotnetClient" version="9.2.4.0" targetFramework="net48" />
  <package id="IBMXMSDotnetClient" version="9.2.4.0" targetFramework="net48" />
  <package id="Interop.ActiveDs" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Services3" version="3.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="OpenSmtp" version="1.11.0.34196" targetFramework="net48" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net45" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net45" />
  <package id="Thomson.Novus.ProductAPI" version="24.8.2.1" targetFramework="net48" />
</packages>